@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@font-face {
  font-family: 'ChicagoFont';
  src: url('https://dangasson.github.io/Resources/Fonts/ChicagoFLF.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #a5a59b, #d6d5d0);
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'ChicagoFont', sans-serif;
}

/* audio::-webkit-media-controls-panel {
  background-color: #bebeb9;
  opacity: 100%;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.songList {
  display: flex;
  flex-direction: column;
  background-color: rebeccapurple;
}

.songCard {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.08);
}

.songTitle {
  font-weight: bold;
}

.ourAudioPlayer {
  display: flex;
  justify-content: center;
}
