@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@font-face {
  font-family: 'ChicagoFont';
  src: url('https://dangasson.github.io/Resources/Fonts/ChicagoFLF.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(241, 237, 237);
  /* display: grid;
  place-items: center; */
  text-align: center;
  font-family: 'ChicagoFont', sans-serif;
}

/* audio::-webkit-media-controls-panel {
  background-color: #bebeb9;
  opacity: 100%;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.songList {
  /* display: flex;
  flex-direction: column;
  background-color: rebeccapurple; */
}

.songCard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  padding: 20px;
  margin-right: 5px;
  margin-left: 5px;
  /* border-radius: 10px; */
  background: linear-gradient(100deg, #a5a59b, #d6d5d0);
  border: 1px solid white;
}

.songTitle {
  font-weight: bold;
}

.play {
  cursor: pointer;
}

.like {
  cursor: pointer;
}

.ourAudioPlayer {
  display: flex;
  justify-content: center;
}

.close-button {
  margin-top: 10px;
}

.upload {
  padding: 10px;
  cursor: pointer;
}

.input-button {
  padding: 10px;
  background: linear-gradient(100deg, #a5a59b, #d6d5d0);
  padding: 10px;
  margin-left: 5px;
}

.newSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.progress-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.progress-bar {
  height: 10px;
  background-color: black;
}

.progress-text {
  margin-top: 10px;
  color: black;
}
